.name {
  display: block;
  background-color: lightgoldenrodyellow;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  padding: 8px;
  transition: background 0.15s;
}

.name:hover {
  background-color: rgb(209, 209, 178);
}
